<footer class="footer">
    <div class="circle">
        <a class="link__footer" href="http://localhost:3000//#anchor-top">
            <img class="footer__circle--arrow" src="./assets/images/ico-arrow.svg" alt="click to go up" /></a>
    </div>
    <nav class="footer-nav">
        <ul class="footer-nav__list1">
            <a class="link__list" href="https://adalab.es/" target=_blank>
                <li class="footer-nav__list1--element">Articles</li>
            </a>
            <a class="link__list" href="https://adalab.es/" target=_blank>
                <li class="footer-nav__list1--element">Books</li>
            </a>
            <a class="link__list" href="https://adalab.es/" target=_blank>
                <li class="footer-nav__list1--element">Events</li>
            </a>
            <a class="link__list" href="https://adalab.es/" target=_blank>
                <li class="footer-nav__list1--element">reasons</li>
            </a>
            <a class="link__list" href="https://adalab.es/" target=_blank>
                <li class="footer-nav__list1--element">Tips</li>
            </a>
        </ul>


        <ul class="footer-nav__list2">
            <a class="link__list" href="https://adalab.es/" target=_blank>
                <li class="footer__list2--element">Twitter</li>
            </a>
            <a class="link__list" href="https://adalab.es/" target=_blank>
                <li class="footer-nav__list2--element">Instagram</li>
            </a>
            <a class="link__list" href="https://adalab.es/" target=_blank>
                <li class="footer-nav__list2--element">Mastodon.social</li>
            </a>
        </ul>

        <small class="footer-nav__copyright"><span class="footer-nav__copyright--text"> &copy; 2017</span><span class="footer-nav__copyright--text">
    we <i class="fa fa-heart"></i> components</span></small>
    </nav>
</footer>