<footer class="footer">
    <div class="footer__circle">
        <a class="link__footer" href="http://localhost:3000//#anchor-top">
            <img class="footer__circle--arrow" src="./assets/images/ico-arrow.svg" alt="click to go up" /></a>
    </div>
    <ul class="footer__list1">
        <a class="link__list" href="https://adalab.es/" target=_blank>
            <li class="footer__list1--element">Articles</li>
        </a>
        <a class="link__list" href="https://adalab.es/" target=_blank>
            <li class="footer__list1--element">Books</li>
        </a>
        <a class="link__list" href="https://adalab.es/" target=_blank>
            <li class="footer__list1--element">Events</li>
        </a>
        <a class="link__list" href="https://adalab.es/" target=_blank>
            <li class="footer__list1--element">reasons</li>
        </a>
        <a class="link__list" href="https://adalab.es/" target=_blank>
            <li class="footer__list1--element">Tips</li>
        </a>
    </ul>


    <ul class="footer__list2">
        <a class="link__list" href="https://adalab.es/" target=_blank>
            <li class="footer__list2--element">Twitter</li>
        </a>
        <a class="link__list" href="https://adalab.es/" target=_blank>
            <li class="footer__list2--element">Instagram</li>
        </a>
        <a class="link__list" href="https://adalab.es/" target=_blank>
            <li class="footer__list2--element">Mastodon.social</li>
        </a>
    </ul>

    <small class="footer__copyright"> &copy; 2017 </small>
    <small class="footer__small">we <i class="fa fa-heart"></i> components</small>
</footer>