<nav class="menu">
    <a class="link__burger" href="https://adalab.es/" target=_blank>
        <img class="menu__burger" src="./assets/images/ico-menu.svg" alt="click to go up" /></a>
</nav>
<header class="header" id="anchor-top">

    <img class="header__photo" src="./assets/images/cover.jpg" alt="foto edificios" />
    <h1 class="header__title"><span class="header__title--title">Anonymous</span> <span class="header__title--title">Proxy</span> </h1>
    <p class="header__subtitle">In hac habitasse platea dictumst</p>

    <div class="header__circle">
        <a class="link__header" href="#anchor-reasons">

            <img class="header__circle--arrow" src="./assets/images/ico-scroll-down.svg" alt="click to scroll down" /></a>
    </div>
</header>