* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.link__list {
  text-decoration: none;
  color: var(--color-white); }

:root {
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-slab: 'Roboto Slab', serif;
  --color-burger: #0271bc;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-buttons-orange: #f26002;
  --font-color-grey: #4a4a4a;
  --font-color-tips: #8ccbea;
  --color-reasons: #eff9ff;
  --color-footer: #304268; }

.menu {
  height: 44px;
  width: 44px;
  background-color: var(--color-burger);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0em; }
  .menu__burger {
    height: 16px;
    width: 14px;
    border: 15px 14px;
    background-color: var(--color-burger);
    color: var(--color-white); }

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  height: 100vh; }
  .header__photo {
    background: url(src= "./assets/images/cover.jpg");
    background-size: cover;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: absolute; }
  .header__title {
    color: var(--color-white);
    font-family: var(--font-family-slab);
    font-size: 42px;
    line-height: 1.31;
    width: 100%;
    text-transform: uppercase;
    text-align: center; }
    @media all and (min-width: 768px) {
      .header__title {
        font-size: 80px; } }
    @media all and (min-width: 768px) {
      .header__title {
        font-size: 100px; } }
    .header__title--title {
      display: block; }
  .header__subtitle {
    color: var(--color-white);
    font-family: var(--font-family-roboto);
    font-size: 16px;
    height: 21px;
    margin-top: 10px;
    margin-bottom: 45px;
    text-align: center;
    width: 100%; }
    @media all and (min-width: 768px) {
      .header__subtitle {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 30px; } }
    @media all and (min-width: 1200px) {
      .header__subtitle {
        margin-top: 0px; } }
  .header__circle {
    height: 45px;
    width: 45px;
    background-color: var(--color-white);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 53px;
    /* animation: move 2s infinite alternate-reverse;
         @keyframes move2 {
            from {
                top: 0;
                opacity: 0;
            }
            to {
                top: 20px;
                opacity: 1;
            }
        }*/ }
  @media all and (min-width: 768px) {
    .header {
      margin-bottom: 45px; } }
  @media all and (min-width: 1200px) {
    .header {
      margin-bottom: 13px; } }

.tips {
  padding: 30px 15px 45px 15px; }
  @media all and (min-width: 768px) {
    .tips {
      padding: 30px 39px 60px 39px; } }
  @media all and (min-width: 1200px) {
    .tips {
      padding: 90px 275px 60px 275px; } }
  .tips__small {
    font-family: var(--font-family-roboto);
    color: var(--font-color-tips);
    font-size: 14px;
    margin-bottom: 1px; }
    @media all and (min-width: 768px) {
      .tips__small {
        margin-bottom: 0; } }
    @media all and (min-width: 1200px) {
      .tips__small {
        font-size: 16px; } }
  .tips__title {
    font-family: var(--font-family-slab);
    font-size: 24px;
    margin-bottom: 15px;
    text-transform: capitalize; }
    @media all and (min-width: 768px) {
      .tips__title {
        font-size: 26px;
        margin-bottom: 30px; } }
    @media all and (min-width: 1200px) {
      .tips__title {
        font-size: 32px; } }
  .tips__description {
    font-family: var(--font-family-roboto);
    color: var(--font-color-grey);
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px; }
    @media all and (min-width: 768px) {
      .tips__description {
        font-size: 20px; } }
  .tips__button {
    height: 45px;
    width: 76px;
    border-radius: 22.5px;
    border: solid 2px var(--color-buttons-orange);
    background-color: var(--color-white);
    color: var(--color-buttons-orange);
    font-family: var(--font-family-roboto);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: color ease 1s; }
    .tips__button:hover {
      color: var(--color-white);
      background-color: var(--color-buttons-orange); }
    @media all and (min-width: 768px) {
      .tips__button {
        height: 45px;
        width: 91px; } }
    @media all and (min-width: 1200px) {
      .tips__button {
        height: 45px;
        width: 160px; } }

.reasons {
  background-color: var(--color-reasons);
  padding: 30px 15px 60px 15px;
  text-align: center; }
  @media all and (min-width: 768px) {
    .reasons {
      padding: 30px 35.7px 60px 40px;
      display: grid;
      height: 397px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "reasons reasons reasons" "column1 column2 column3" "button button button"; } }
  @media all and (min-width: 1200px) {
    .reasons {
      padding: 60px 85px 60px 81.2px;
      height: 427px; } }
  .reasons__title {
    height: 30px;
    font-family: var(--font-family-slab);
    font-size: 24px;
    margin-bottom: 45px;
    text-transform: capitalize; }
    @media all and (min-width: 768px) {
      .reasons__title {
        font-size: 26px;
        grid-area: reasons; } }
    @media all and (min-width: 1200px) {
      .reasons__title {
        font-size: 32px; } }
  @media all and (min-width: 768px) {
    .reasons__article1 {
      grid-area: column1; } }
  .reasons__article1--title {
    height: 30px;
    font-family: var(--font-family-slab);
    font-size: 18px; }
    @media all and (min-width: 768px) {
      .reasons__article1--title {
        font-size: 24px; } }
  .reasons__article1--description {
    font-family: var(--font-family-roboto);
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 45px;
    text-align: center; }
    @media all and (min-width: 768px) {
      .reasons__article1--description {
        font-size: 20px;
        margin-bottom: 60px; } }
  @media all and (min-width: 768px) {
    .reasons__article2 {
      grid-area: column2; } }
  .reasons__article2--title {
    height: 30px;
    font-family: var(--font-family-slab);
    font-size: 18px; }
    @media all and (min-width: 768px) {
      .reasons__article2--title {
        font-size: 24px; } }
  .reasons__article2--description {
    font-family: var(--font-family-roboto);
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 45px;
    text-align: center; }
    @media all and (min-width: 768px) {
      .reasons__article2--description {
        font-size: 20px;
        margin-bottom: 60px; } }
  @media all and (min-width: 768px) {
    .reasons__article3 {
      grid-area: column3; } }
  .reasons__article3--title {
    height: 30px;
    font-family: var(--font-family-slab);
    font-size: 18px; }
    @media all and (min-width: 768px) {
      .reasons__article3--title {
        font-size: 24px; } }
  .reasons__article3--description {
    font-family: var(--font-family-roboto);
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 45px;
    text-align: center; }
    @media all and (min-width: 768px) {
      .reasons__article3--description {
        font-size: 20px;
        margin-bottom: 60px; } }
  .reasons__button {
    height: 45px;
    width: 184px;
    border-radius: 22.5px;
    border: 0;
    color: var(--color-white);
    background-color: var(--color-buttons-orange);
    font-family: var(--font-family-roboto);
    font-size: 20px;
    transition: color ease 1s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    .reasons__button:hover {
      color: var(--color-buttons-orange);
      background-color: var(--color-reasons);
      border: solid 2px var(--color-buttons-orange); }
    @media all and (min-width: 768px) {
      .reasons__button {
        width: 210px;
        grid-area: button;
        margin: auto; } }
    @media all and (min-width: 1200px) {
      .reasons__button {
        width: 225px; } }

.footer {
  background-color: var(--color-footer);
  padding: 15px 0 45px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center; }
  @media all and (min-width: 768px) {
    .footer {
      height: 240px;
      padding: 45px 39px 45px 39px;
      text-align: left;
      flex-direction: row; } }
  @media all and (min-width: 1200px) {
    .footer {
      padding: 45px 370px 45px 370px; } }
  .footer__circle {
    height: 45px;
    width: 45px;
    background-color: var(--color-white);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin: auto;
    position: relative;
    transform: translate(0px, -39px);
    animation: move 2s infinite alternate-reverse; }

@-webkit-keyframes move {
  from {
    top: -10px; }
  to {
    top: 10px; } }

@keyframes move {
  from {
    top: -10px; }
  to {
    top: 10px; } }
    @media all and (min-width: 768px) {
      .footer__circle {
        transform: translate(0px, -39px); } }
    @media all and (min-width: 768px) {
      .footer__circle {
        transform: translate(0px, -71px); } }
  .footer__list1 {
    width: 73px;
    font-family: var(--font-family-roboto);
    color: var(--color-white);
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.88;
    text-transform: uppercase;
    list-style: none;
    width: 73px; }
    @media all and (min-width: 768px) {
      .footer__list1 {
        width: 210px;
        margin-bottom: 0; } }
    @media all and (min-width: 1200px) {
      .footer__list1 {
        width: 161px; } }
  .footer__list2 {
    width: 73px;
    font-family: var(--font-family-roboto);
    color: var(--color-white);
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.88;
    text-transform: uppercase;
    list-style: none;
    width: 147px; }
    @media all and (min-width: 768px) {
      .footer__list2 {
        width: 210px;
        margin-bottom: 60px; } }
    @media all and (min-width: 1200px) {
      .footer__list2 {
        width: 159px; } }
  .footer__copyright {
    font-family: var(--font-family-roboto);
    color: var(--color-white);
    font-size: 14px; }
    @media all and (min-width: 768px) {
      .footer__copyright {
        width: 210px;
        order: -1;
        margin-bottom: 97px; } }
    @media all and (min-width: 1200px) {
      .footer__copyright {
        width: 159px; } }
    .footer__copyright--text {
      display: block;
      line-height: 1.88; }

.fa-heart {
  color: var(--color-buttons-orange); }

/*# sourceMappingURL=main.css.map */
