.footer {
    background-color: var( --color-footer);
    &__list {
        font-family: var(--font-family-roboto);
        color: var(--color-white);
        font-size: 16px;
    }
    &__copyright {
        font-family: var(--font-family-roboto);
        color: var(--color-white);
        font-size: 14px;
    }
    &__small {
        font-family: var(--font-family-roboto);
        color: var(--color-white);
        font-size: 14px;
    }
}