                @import "core/variables";
                .footer {
                    background-color: var( --color-footer);
                    padding: 0px 0 45px 0;
                    @media all and (min-width: 768px) {
                        padding: 0px 39px 45px 39px;
                    }
                    @media all and (min-width: 1200px) {
                        padding: 0px 370px 45px 370px;
                    }
                }
                
                .circle {
                    height: 45px;
                    width: 45px;
                    background-color: var(--color-white);
                    border-radius: 50px;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
                    position: relative;
                    transform: translate(0px, -21px);
                    animation: move 2s infinite alternate-reverse;
                    @keyframes move {
                        from {
                            top: -10px;
                        }
                        to {
                            top: 10px;
                        }
                    }
                }
                
                .footer-nav {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    @media all and (min-width: 768px) {
                        text-align: left;
                        flex-direction: row;
                    }
                    @media all and (min-width: 1200px) {}
                    &__list1 {
                        @include list();
                        @media all and (min-width: 768px) {
                            width: 210px;
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                        @media all and (min-width: 1200px) {
                            width: 161px;
                        }
                    }
                    &__list2 {
                        @include list();
                        width: 147px;
                        @media all and (min-width: 768px) {
                            width: 210px;
                            margin-top: 0;
                            margin-bottom: 60px;
                        }
                        @media all and (min-width: 1200px) {
                            width: 159px;
                        }
                    }
                    &__copyright {
                        font-family: var(--font-family-roboto);
                        color: var(--color-white);
                        font-size: 14px;
                        margin-top: 15px;
                        @media all and (min-width: 768px) {
                            width: 210px;
                            order: -1;
                            margin-top: 0;
                            margin-bottom: 97px;
                        }
                        @media all and (min-width: 1200px) {
                            width: 159px;
                        }
                        &--text {
                            display: block;
                            line-height: 1.88;
                        }
                    }
                }
                
                .fa-heart {
                    color: var(--color-buttons-orange);
                }