:root {
    // fonts
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-slab: 'Roboto Slab', serif;
    // colors
    --color-burger: #0271bc;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-buttons-orange: #f26002;
    --font-color-grey: #4a4a4a;
    --font-color-tips: #8ccbea;
    --color-reasons: #eff9ff;
    --color-footer: #304268;
}