            .reasons {
                background-color: var(--color-reasons);
                padding: 30px 15px 60px 15px;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: center;
                @media all and (min-width: 768px) {
                    padding: 30px 40px 60px 40px;
                    display: grid;
                    height: 397px;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                }
                @media all and (min-width: 1200px) {
                    padding: 60px 85px 60px 81.2px;
                    height: 427px;
                }
                &__title {
                    height: 30px;
                    width: 290px;
                    font-family: var(--font-family-slab);
                    font-size: 24px;
                    margin-bottom: 45px;
                    text-transform: capitalize;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    @media all and (min-width: 768px) {
                        font-size: 26px;
                        grid-column: span 3;
                    }
                    @media all and (min-width: 1200px) {
                        font-size: 32px;
                        grid-column: span 3;
                    }
                }
                &__article1 {
                    @media all and (min-width: 768px) {
                        grid-area: 'column1 column2 column3';
                    }
                    &--title {
                        @include title();
                    }
                    &--description {
                        @include description();
                    }
                }
                &__article2 {
                    @media all and (min-width: 768px) {
                        grid-area: 'column1 column2 column3';
                    }
                    &--title {
                        @include title();
                    }
                    &--description {
                        @include description();
                    }
                }
                &__article3 {
                    @media all and (min-width: 768px) {
                        grid-area: 'column1 column2 column3';
                    }
                    &--title {
                        @include title();
                    }
                    &--description {
                        @include description();
                    }
                }
                &__button {
                    height: 45px;
                    width: 184px;
                    border-radius: 22.5px;
                    border: 0;
                    color: var(--color-white);
                    background-color: var(--color-buttons-orange);
                    font-family: var(--font-family-roboto);
                    font-size: 20px;
                    grid-column: span 1;
                    transition: color background-color border ease 1s;
                    &:hover {
                        color: var(--color-buttons-orange);
                        background-color: var(--color-reasons);
                        border: solid 2px var(--color-buttons-orange);
                    }
                    @media all and (min-width: 768px) {
                        width: 210px;
                        grid-column: span 3;
                    }
                    @media all and (min-width: 1200px) {
                        width: 225px;
                        grid-column: span 3;
                    }
                }
            }