.tips {
    padding: 30px 15px 45px 15px;
    &__small {
        font-family: var(--font-family-roboto);
        color: var(--font-color-tips);
        font-size: 14px;
        height: 30px;
        width: 90px;
        margin-bottom: 1px;
    }
    &__title {
        font-family: var(--font-family-slab);
        font-size: 24px;
        line-height: 1.25;
        width: 290px;
        height: 60px;
        margin-bottom: 15px;
        text-transform: capitalize;
    }
    &__description {
        font-family: var(--font-family-roboto);
        color: var(--font-color-grey);
        font-size: 18px;
        margin-bottom: 30px;
        line-height: 1.67;
    }
    &__button {
        height: 45px;
        width: 76px;
        border-radius: 22.5px;
        border: solid 2px var(--color-buttons-orange);
        background-color: var(--color-white);
        color: var(--color-buttons-orange);
        font-family: var(--font-family-roboto);
        font-size: 20px;
    }
}